#skills {
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 2rem;
    color: white;
}

.skillTitle {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: darkturquoise;
}

.skillDeks {
    font-size: 16px;
    max-width: 60rem;
    font-weight: 400;
    margin-left: 12rem;
    padding-top: 1rem;
}

.skillBar {
    display: flex;
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    padding-left: 12rem;
    color: black;
}

.skillBarText {
    max-width: 50rem;
    justify-content: space-between;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: whitesmoke;
}

.skillBarImg {
    justify-content: center;
    object-fit: cover;
    height: 8rem;
    width: 9rem;
}

.skillBarImgA {
    object-fit: cover;
    height: 8rem;
    width: 7rem;
}

.skillBarTitle {
    font-size: 24px;
    margin-left: 1rem;
}

.skillBarDeks {
    margin-top: 0.7rem;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
}

.skillPara {
    font-size: 16px;
    font-weight: 200;
}